@model FitnessGuru.Services.Models.Categories.ArticleDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
            <hr />
        </dd>
        <dd>
             @Html.DisplayFor(model => model.Content)
            <hr />
        </dd> 
        <dd>
            <b>@Html.DisplayFor(model => model.CategoryName)</b>
            <hr />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
</div>
