@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row" style="float: left;background-color: white; margin-top: 30px">
    <div class="col-md-10">
        <h2>Reset Your Password</h2>
        <b>Enter your email and we’ll send a link to reset your password.</b>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<img class="col-md-7" src="/images/Register.jpg" style="float: right; height: 350px; margin-top:50px" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
