@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row" style="float: left;background-color: white; margin-top: 60px">
    <div class="col-md-10">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create An Account</h2>
            <b>Join our fitness community and set goals, track workouts, and more!</b>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default ">Register</button>
        </form>
    </div>
</div>
<img class="col-md-6" src="/images/Register.jpg" style="margin-top: 10%" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
